<div class = "service-top">
  <h4 class = "service-all2">予約一覧</h4>
  <h4 class = "back-to-index"><%= link_to "戻る", user_path(current_user.id) %><h4>
</div>
<div class = "appoint-table2">
  <table class = "detail-service-content2">
     <tbody>
        <tr>
          <th class="detail-appoint1">予約したイベント</th>
          <th class="detail-appoint2">実施日</th>
        </tr>
        <% @appoints.each do |appoint| %>
        <tr>
          <td class="detail-appoint-value1"><%= appoint.task.name %></td>
          <td class="detail-appoint-value2"><%= appoint.task.event_date %></td>
        </tr>
        <% end %>
      </tbody>
   </table>
</div>