<header>
<div>
<h1 class = "admin-title">登録ユーザー一覧<h1>
</div>
<div class = "backs2">
<h4><%= link_to "戻る", user_path(current_user.id), method: :get %></h4>
</div>
<div class = "page">
  <%#= paginate @users %>
</div>
<header>
<body>
<table class = "detail-table">
<tbody>
        <tr>
          <th class="detail-item4">名前</th>
          <th class="detail-item5">メールアドレス</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td class="detail-value4"><%= user.name %></td>
          <td class="detail-value5"><%= user.email %></td>
        </tr>
        <% end %>
      </tbody>
</table>
</body>