.task-title{
  text-align: center;
  font-size: 45px;
}

.detail-table-general-task{
  margin-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.detail-task1 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-task-value1 {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-task2 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-task-value2 {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-task3 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-task-value3 {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}