.task-new-title{
  text-align: center;
  font-size: 45px;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.new-contents{
  padding: 2vh 0;
}

.contents-explain{
  margin-top: 2vh;
}