a {
  text-decoration: none;
}

.main {
  background: red;
  color: white;
}

.title{
  background-position: top center;
  font-size: 40px;
  text-align: center;
}

.header-top{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.logout1{
  text-decoration: none;
}

.greeting{
  text-decoration: none;
  margin-right: 3vw;
}

.information{
 text-align: center; 
 background-color: blue;
 color: white;
}

.body{
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item1 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 20px;
  text-align: center;
}

.detail-value1 {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 20px;
}

.detail-item2 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 20px;
  text-align: center;
}

.detail-value2 {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 20px;
}

.detail-item3 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 20px;
  text-align: center;
}

.detail-value3 {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 20px;
}

.second{
  display: flex;
  font-size: 18px;
  justify-content: space-around;
}

.username{
  color: green;
}